In [1]:
#@title Import relevant modules
import os
import sys
import pandas as pd
import geopandas as gpd
import tensorflow as tf
import sqlalchemy as sq
import ipyparallel as ipp
from matplotlib import pyplot as plt

# The following lines adjust the granularity of reporting. 
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

2022-11-18 05:46:59.153540: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-11-18 05:46:59.259694: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [2]:
db_connection_url = "postgresql://grpthreeuser:grpthreeuser@postgres:5432/grpthreedb"
engine = sq.create_engine(db_connection_url)
db_con = engine.connect()

In [5]:
# tableName = "public.\"dbfNFDB_poin\""
# table_df = gpd.read_postgis("SELECT * FROM " + tableName, db_con)
tableName = "public.\"dbfNFDB_poin\""
table_df = pd.read_sql("SELECT * FROM " + tableName, db_con)

In [6]:
table_df.head()

,SRC_AGENCY,FIRE_ID,FIRENAME,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,REP_DATE,ATTK_DATE,...,CFS_REF_ID,CFS_NOTE1,CFS_NOTE2,ACQ_DATE,SRC_AGY2,ECOZONE,ECOZ_REF,ECOZ_NAME,ECOZ_NOM,geometry
0,BC,1950-G00026,None,59.9,-131.9,1950,6,4,1950-06-04,None,...,BC-1950-1950-G00026,None,None,2020-05-05,BC,12,12,Boreal Cordillera,CordillCre boreale,01010000A08A0F000057A99FF364FB3CC18ABC0154C7D3...
1,BC,1951-R00097,None,59.8,-132.8,1951,7,15,1951-07-15,None,...,BC-1951-1951-R00097,None,None,2020-05-05,BC,12,12,Boreal Cordillera,CordillCre boreale,01010000A08A0F0000561E33DEBBB33DC1D0E189128F13...
2,BC,1950-G00035,None,57.5,-122.8,1950,6,14,1950-06-14,None,...,BC-1950-1950-G00035,None,None,2020-05-05,BC,4,4,Taiga Plain,Taiga des plaines,01010000A08A0F0000542CB2D8841238C16E38FAAFAF86...
3,BC,1953-G00043,None,57.7,-121.9,1953,5,1,1953-05-01,None,...,BC-1953-1953-G00043,None,None,2020-05-05,BC,4,4,Taiga Plain,Taiga des plaines,01010000A08A0F00000A022430BD3237C1CCB356AA2D87...
4,BC,1950-R00029,None,59.3,-133.2,1950,6,22,1950-06-22,None,...,BC-1950-1950-R00029,None,None,2020-05-05,BC,12,12,Boreal Cordillera,CordillCre boreale,01010000A08A0F0000BD3E6D6EA1673EC182C25B8BB8AB...

In [7]:

table_df.describe()

       LATITUDE  LONGITUDE    YEAR   MONTH     DAY   SIZE_HA  ECOZONE
count   19115.0    19115.0 19115.0 19115.0 19115.0   19115.0  19115.0
mean       56.2     -105.6  1983.8     6.4    15.3    6923.7      7.7
std         5.0       18.9   152.4     1.5     9.1   25571.1      3.4
min         0.0     -141.0  -999.0     0.0     0.0     200.0      0.0
25%        52.2     -119.9  1976.0     6.0     7.0     431.8      5.0
50%        55.8     -106.9  1993.0     7.0    15.0    1144.9      6.0
75%        59.9      -94.9  2007.0     7.0    23.0    4259.8      9.0
max        69.6       93.5  2021.0    12.0    31.0 1050000.0     15.0